.forecast-day {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  align-items: center
}


.rain-chance {
  font-size: small;
  width: 50px;
}

.rain-chance img {
  display: inline-block;
  height: 10px;
  filter: invert(.9);
  margin-right: 5px;
}

.forecast-condition {
  height: 25px;
}

.forecast-condition img {
  height: 100%;
}

.forecast-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px
}

.forecast-temp {
  width: 90px;
  margin-left: 5px;
}