:root {

  --text-primary: #dddddd;
  --text-secondary: #fafafa;
  --background-color: #232323;
  --primary-color: #3e3e3e;
  --border-color: #4e4e4e;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
}

h2 {
  color: var(--text-secondary) !important;
}

.container {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 800px;
  color: var(--text-primary);
}

@media (max-width: 900px) {
  .container {
    width: 90vw;
  }
}

